<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ЖКХ</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <form id="log_out_form" th:action="@{/logout}" method="post">
                </form>
                <li class="navbar-link"><a href="#" id="log_out">Выйти</a></li>
                <script>
                    $("#log_out").on("click", function ()
                    {
                        $("#log_out_form").submit();
                    });
                </script>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div th:if="${message} != null">
            [[${message}]]
        </div>
        <div id="regexp">
            <label id="regexp-text" class="text-danger"></label>
        </div>
        <h1>Смена пароля</h1>
        <form th:action="@{/pass_change}" method="post">
            <div class="form-group">
                <input class="form-control" type="password" name="newpassword" required placeholder="Новый пароль"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="againpassword" required placeholder="Подтверждение пароля"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary center-block" type="submit" value="Изменить"/>
            </div>
        </form>
        <div th:if="${user} != null">
            <div th:if="${user.isNumberActivated()}">
                <h1>Смена телефонного номера</h1>
                <form th:action="@{/number_change}" onsubmit="return check()" method="post">
                    <div class="form-group">
                        <input id="ph-numb" class="form-control" type="text" name="newnumber" placeholder="Новый номер"/>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary center-block" type="submit" value="Изменить"/>
                    </div>
                </form>
                <h1>Установка SMS уведомления</h1>
                <div class="bootstrap-iso">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                <!-- Form code begins -->
                            <form method="post">
                                <div class="form-group"> <!-- Date input -->
                                    <label class="control-label" for="date">Date</label>
                                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text"/>
                                </div>
                                <div class="form-group"> <!-- Submit button -->
                                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                                </div>
                            </form>
                                <!-- Form code ends -->
                        </div>
                    </div>
                </div>


                <script>
                    $(document).ready(function(){
                        var date_input=$('input[name="date"]'); //our date input has the name "date"
                        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                        var options={
                            format: 'dd/mm/yyyy',
                            container: container,
                            todayHighlight: true,
                            autoclose: true,
                            locale: 'ru',
                            language: 'ru'
                        };
                        date_input.datepicker(options);
                    })
                </script>

                <div th:if="${!user.isNumberActivated()}">
                <h1>Подтверждение телефона</h1>
                <form th:action="@{/activate_mobile}" method="get">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Подтвердить">
                    </div>
                </form>
            </div>
        </div>
        <script>
            function testInfo(phoneInput, re)
            {
                var OK = re.test(phoneInput);
                if (!OK)
                {
                    $("#regexp-text").html(phoneInput + " не является телефонным номером!");
                }
                return OK;
            }
            function check()
            {
                var re = /^(7|8|\\+7)\d{10}$/;
                return testInfo($("#ph-numb").val(), re);
            }
        </script>
    </div>
</body>
</html>